
.dashboard{
    position: relative;
    top: 30px;
}
h1{
    position: absolute;
    top: -10px;
    left: 30%;
}
.event{
    position: absolute;
     height: 30px;
     right: 10px;
     top: 10px;
    background: #005C96;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}
.event:hover{
    background: white;
    color: #005C96;
}
.imgProfil{
    width: 200px;
    height: 190px;
    position: relative;
    border: 5px solid #005C96;
    border-radius: 50%;
    background-size: cover;
    left: 15px;
}
.img{
    position: relative;
    outline: none;
    width: 90px;
    height: 90px;
    top: 40%;
    left: -40px;
    cursor: pointer;
    border: none;
}
.img::-webkit-file-upload-button{
   visibility: hidden;
}
.img::before{
 content: url('./appareil.png');
 -webkit-user-select: none;
}
.info{
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 15px;
    top: -70px;
    left: 15px;
}
.profil .valid{
    position: relative;
    top: -60px;
    width: 150px;
    height: 30px;
    background-color: #005C96;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.profil .valid:hover{
    color: #005C96;
    background: white;
    border: solid 1px #005C96;
}
.modifProfil{
    position: relative;
    top: -110px;
    left: 10px;
}
.modifProfil .valid{
    position: relative;
    top: 20px;
    left: 10px;
    width: 150px;
    height: 30px;
    background-color: #005C96;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.modifProfil .valid:hover{
    color: #005C96;
    background: white;
    border: solid 1px #005C96;
}
.profilOrg .valid{
 position: relative;
 top: -60px;
}
.profilOrg .modifProfil{
    position: absolute;
    top: 460px;
    left: 10px;
}
.profilOrg input{
    margin-bottom: 25px;
}
.profilOrg .modifProfil .valid{
    position: relative;
    top: 15px;
    left: 10px;
   
}
/*liste des evenements*/
.listEvent{
    width: 60%;
    height: 100px;
    border: 1px SOLID #005C96;
    border-radius: 5px;
    position: relative;
    top: -450px;
    left: 90px;
    margin: 0 auto;
    margin-bottom: 25px;
}
.listEvent h5{
    position: relative;
    font-size: 15px;
    top: -10px;
    left: 10px;
}
.event1{
    position: absolute;
    right: 10px;
    top: 30px;
    color: white;
    background: #005C96;
    border: none;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
    
}
.event1:hover{
    background: white;
    color: #005C96;
}
.event2{
    position: absolute;
    left: 50%;
    top: 30px;
    color: white;
    background: #005C96;
    border: none;
    height: 30px;
    font-weight: bold;
    border-radius: 5px;
}
.event2:hover{
    background: white;
    color: #005C96;
}
.dashboardAd
{
    position: relative;
    top: 30px;
}

.userBloquer {
   position: absolute;

}

/*modification evenements*/
.modifEvent{
    width: 40%;
    height: 650px;
    box-shadow: 0 10px 10px  rgb(138, 161, 182);
    margin: 20px auto;
    background: #005C96;
    padding-left: 40px;
}
.modifEvent h3{
    padding-top: 30px;
}
.modifProfil input{
    width: 250px;
}

.modifEvent .valid{
    color: black;
    border: 1px solid black;
    position: relative;
    top: -10px;
}

.dashboardAd .listEvent{
    top: -95px;
}
/*interest*/
.interest{
    position: absolute;
    top: 10px;
    width: 50%;
    height: 90px;
    border-radius: 5px;
    left: 30%;
}
.interest .listEvent{
    top: 5px;
    text-align: center;
    width: 90%;
    font-size: 20px;
}
/*list participant*/
.listPart{
    background: #005C96;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    width: 50%;
    height: 40px;
    position: relative;
    left: 20px;
    color: white;
}
.list {
    position: relative;
    text-align: center;
    left: 20px;
    
}