/*header*/
.Navbar{
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    z-index: 10;
}
.icon{
    margin-left: 10px;
}
.connect{
    background-color: rgb(24, 29, 32);
    border-radius: 5px;
    width: 120px;
    color: white;
  
}
.connect:hover{
    background-color: transparent;
    border: 1px solid white;
}
.deconnect{
    background-color: rgb(24, 29, 32);
    border-radius: 5px;
    width: 140px;
    color: white;
  
}
.deconnect:hover{
    background-color: transparent;
    border: 1px solid white;
}
/*Home*/
.image{
    margin-top: 55px;
}
.image h1{
    text-shadow:  0px 1px 20px black;
    position: absolute;
    top: 35%;
    left: 30%;
    color: white;
    font-weight: bold;
}
@media only screen and (max-width:700px){
    .image h1{
        font-size:20px;
        margin-top: -10%;
        
    }
    }
   
@media only screen and (max-width:1050px){
 .image h1{
    top: 25%;
    left: 20%;
}
}
@media only screen and (max-width:1150px){
    .image h1{
        left: 25%;
    }
    }
    
.eventList{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.eventList h2{
   margin-left:10%;
}
.search{
    position: absolute;
    right: 10px;
}
@media only screen and (max-width:700px){
    .eventList h2{
        font-size: 18px;
        margin-left: -5px;
        margin-top: 10px;
    }
    .search{
      width: 55%;
    }
    .eventList ::placeholder{
        font-size: 11px;
    }
   
    }
/*footer*/
.footer{
    background: rgba(17, 16, 16, 0.93);
    color: white;
    
}

/*Login*/
.login{
    width: 35%;
    height: 450px;
    border:1px solid black;
    margin:75px auto;
    font-weight:bold;
    padding-left: 30px;
    padding-top:30px;
}
.head{
    font-size: 23px;
}
.check{
    font-size:13px;
}
.compte{
    top:15px;
    font-size:13px;
    position:relative;
    text-align:center;
    align-items:center;
}
.pass{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    left:65%;
    top: -25px;   
}
.pass:hover{
    color: #005C96;
}
.newCompte{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
.newcompte span:hover{
    color: #005C96;   
}
.forget{
    width: 35%;
    height: 350px;
    border:1px solid black;
    margin:75px auto;
    font-weight:bold;
    padding-left: 30px;
    padding-top:30px;
}
@media only screen and (max-width:1350px){
        .login{
            width:40%;
        }
          .check{
            font-size:11px;
        }
         .forget .head{
            font-size: 20px;
        }
    }
    @media only screen and (max-width:750px){
        .login{
            width: 60%;
        }
        .check{
            font-size:11px;
        }
        .compte{
            font-size: 11px;
        }
        .forget{
            width: 60%;
        }
        .forget .head{
            font-size: 17px;
        }
       
    }
    @media only screen and (max-width:1000px){
        .forget{
            width: 40%;
        }
       
    }
      @media only screen and (max-width:700px){
        .forget{
            width: 65%;
        }
       
    }
        
/*inscription*/
.signUp{
    width: 35%;
    border:1px solid black;
    margin:75px auto;
    font-weight:bold;
    padding-left: 30px;
    padding-top:30px;
}
 
/*role*/
.role{
    margin-top: 80px;
    margin-left: 15%;
    display: flex;
}
.user{
    width: 40%;
    height: 300px;
   border: 1px solid black;
   box-shadow: 0 10px 10px  black;
   margin-right: 10px;
}
.userIcon{
    width: 150px;
    margin-left: 33%;
   margin-top: 20px;
}
.org{
    width: 40%;
    height: 300px;
   border: 1px solid black;
   box-shadow: 0 10px 10px  black;
}
.orgIcon{
    width: 190px;
    margin-left: 30%;
    margin-top: 30px;
}
.rolo{
    position: relative;
    top: 15px;
}

@media only screen and (max-width:1100px){
    .orgIcon{
      margin-left: 85px; 
    }
    .userIcon{
        margin-left: 105px;
    }

}
@media only screen and (max-width:1000px){
    .role{
        margin-left: 20px;
        
    }
        .user{
            width: 47%;
            height: 250px;
           
        }
        .org{
            width: 47%;
            height: 250px;
        }
        .orgIcon{
            margin-left: 30%;   
           }
           .userIcon{
               margin-left: 30%;
           }
       
    .rol{
        font-size: 13px;
    }
    .rolo{
        position: relative;
        top: 15px;
        font-size: 13px;
    }
} 
@media only screen and (max-width:800px){
    .userIcon{
        margin-left: 100px;
    }
    .orgIcon{
    margin-left:80px;
    }
}
@media only screen and (max-width:700px){
    .userIcon{
        margin-left: 70px;
    }
    .orgIcon{
        width: 170px;
        margin-left: 55px;
    }
    .rolo{
        position: relative;
        top: 27px;
    }
}
@media only screen and (max-width:500px){
    .userIcon{
        margin-left: 30px;
    }
    .orgIcon{
        width: 170px;
        margin-left: 26px;
    }
}
/*dashboard*/
.dashboard{
   margin-top: 70px;
}

.imgProfil{
    width: 200px;
    height: 190px;
    position: relative;
    border: 5px solid black;
    border-radius: 50%;
    background-size: cover;
    left: 15px;
}
.img{
    position: absolute;
    top: 34%;
    left: 12%;
    outline: none;
    width: 90px;
    height: 90px;   
    cursor: pointer;
    border: none;
}
.img::-webkit-file-upload-button{
   visibility: hidden;
}
.img::before{
 content: url('./dashboard/appareil.png');
 -webkit-user-select: none;
}
.info{
    position: relative;
    font-weight: bold;
    color: black;
    font-size: 15px;
    top: 20px;
    left: 15px;
}
.modif{
    position: relative;
    top: 10px;
    left: 10px;
}
.formModif{
    position: absolute;
    margin-top: 20px;
    margin-left: 15px;
    width: 25%;
}
.formModifU{
    position: relative;
    margin-top: 20px;
    margin-left: 15px;
    width: 25%;
}
/*interest*/
.interest{
        position: absolute;
        top: 70px;
        width: 50%;
        height: 90px;
        border-radius: 5px;
        left: 40%;
    } 
    table{
        border-collapse: collapse;
        width: 100%;
        letter-spacing: 1px;
        font-size: 13px;
    }
    th{
        padding: 10px 0;
        font-weight: 400;
    }
    td{
        border-top: 0.5px solid #999;
        text-align: center;
        color: rgb(75, 156, 128);
    }
    tr{
        border-bottom: 0.5px;
    }
.eventL{
    position: absolute;
    top: 70px;
    right: 30px;
    width: 70%;
    font-size: 15px;
    
} 
.userBloquer {
    position: relative;
   margin-top: 30%;
   margin-left: 10px;
}
.orgBloquer {
    position: absolute;
   top: 137%;
   width: 50%;
    right: 0;
 }
/*dashboard Organisateur*/
.ListEvent{
    margin-top: -30%;
    margin-left: 40%;
}
.buttonEvent{
    position: absolute;
    right: 10px;
    top: 77px;
}
 
.event{
    width: 40%;
    border: 1px solid black;
    border-radius: 5px;
}
/*modification evenements*/
.modifEvent{
    width: 40%;
    height: 650px;
    box-shadow: 0 10px 10px  rgb(138, 161, 182);
    margin: 20px auto;
    background: #005C96;
    padding-left: 40px;
}
.modifEvent h3{
    padding-top: 30px;
}
.modifProfil input{
    width: 250px;
}

.modifEvent .valid{
    color: black;
    border: 1px solid black;
    position: relative;
    top: -10px;
}

.dashboardAd .listEvent{
    top: -95px;
}
/*interest*/

.interest .listEvent{
    top: 5px;
    text-align: center;
    width: 90%;
    font-size: 20px;
}
/*list participant*/
.listPart{
    background: #005C96;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
    width: 50%;
    height: 40px;
    position: relative;
    left: 20px;
    color: white;
}
.list {
    position: relative;
    text-align: center;
    left: 20px;
    
}