/*header*/
.Navbar{
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    z-index: 10;
}
.icon{
    margin-left: 10px;
}
.connect{
    background-color: rgb(24, 29, 32);
    border-radius: 5px;
    width: 120px;
    color: white;
  
}
.connect:hover{
    background-color: transparent;
    border: 1px solid white;
}
.deconnect{
    background-color: rgb(24, 29, 32);
    border-radius: 5px;
    width: 140px;
    color: white;
  
}
.deconnect:hover{
    background-color: transparent;
    border: 1px solid white;
}
/*Home bannière*/
.image{
    margin-top: 55px;
}
.image h1{
    text-shadow:  0px 1px 20px black;
    position: absolute;
    top: 35%;
    left: 30%;
    color: white;
    font-weight: bold;
}
@media only screen and (max-width:700px){
    .image h1{
        font-size:20px;
        margin-top: -10%;
        
    }
    }
   
@media only screen and (max-width:1050px){
 .image h1{
    top: 25%;
    left: 20%;
}
}
@media only screen and (max-width:1150px){
    .image h1{
        left: 25%;
    }
    }
/*création évènement*/
.event{
    width: 40%;
    margin-left: 30%;
    margin-top: 70px;
    border: 1PX solid black;
    border-radius: 5px;
}
/*home event list*/
.eventList{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.eventList h2{
   margin-left:10%;
}
.search{
    position: absolute;
    right: 10px;
}
@media only screen and (max-width:700px){
    .eventList h2{
        font-size: 18px;
        margin-left: -5px;
        margin-top: 10px;
    }
    .search{
      width: 55%;
    }
    .eventList ::placeholder{
        font-size: 11px;
    }
   
    }
/*footer*/
.footer{
    background: rgba(17, 16, 16, 0.93);
    color: white; 
}

/*Login*/
.login{
    width: 35%;
    height: 450px;
    border:1px solid black;
    margin:75px auto;
    font-weight:bold;
    padding-left: 30px;
    padding-top:30px;
}
.head{
    font-size: 23px;
}
.check{
    font-size:13px;
}
.compte{
    top:15px;
    font-size:13px;
    position:relative;
    text-align:center;
    align-items:center;
}
.pass{
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    left:65%;
    top: -25px;   
}
.pass:hover{
    color: #005C96;
}
.newCompte{
    text-decoration: none;
    cursor: pointer;
    color:black;
}
.newcompte span:hover{
    color: #005C96;   
}
.forget{
    width: 35%;
    height: 350px;
    border:1px solid black;
    margin:75px auto;
    font-weight:bold;
    padding-left: 30px;
    padding-top:30px;
}
@media only screen and (max-width:1350px){
        .login{
            width:40%;
        }
          .check{
            font-size:11px;
        }
         .forget .head{
            font-size: 20px;
        }
    }
    @media only screen and (max-width:750px){
        .login{
            width: 60%;
        }
        .check{
            font-size:11px;
        }
        .compte{
            font-size: 11px;
        }
        .forget{
            width: 60%;
        }
        .forget .head{
            font-size: 17px;
        }
       
    }
    @media only screen and (max-width:1000px){
        .forget{
            width: 40%;
        }
       
    }
      @media only screen and (max-width:700px){
        .forget{
            width: 65%;
        }
       
    }
        
/*inscription*/
.signUp{
    width: 35%;
    border:1px solid black;
    margin:75px auto;
    font-weight:bold;
    padding-left: 30px;
    padding-top:30px;
}
 
/*role*/
.role{
    margin-top: 80px;
    margin-left: 15%;
    display: flex;
}
.user{
    width: 40%;
    height: 300px;
   border: 1px solid black;
   box-shadow: 0 10px 10px  black;
   margin-right: 10px;
}
.userIcon{
    width: 150px;
    margin-left: 33%;
   margin-top: 20px;
}
.org{
    width: 40%;
    height: 300px;
   border: 1px solid black;
   box-shadow: 0 10px 10px  black;
}
.orgIcon{
    width: 210px;
    margin-left: 30%;
    margin-top: 30px;
}

@media only screen and (max-width:1100px){
    .orgIcon{
      margin-left: 85px; 
    }
    .userIcon{
        margin-left: 105px;
    }

}
@media only screen and (max-width:1000px){
    .role{
        margin-left: 25px;
    }
        .user{
            width: 47%;
            height: 250px;
        }
        .org{
            width: 47%;
            height: 250px;
        }
        .orgIcon{
            margin-left: 27%;   
           }
           .userIcon{
               margin-left: 30%;
           }
       
    .rol{
        font-size: 13px;
    }
    .rolo{
        font-size: 13px;
    }
} 

@media only screen and (max-width:700px){
    .userIcon{
        margin-left: 70px;
    }
    .orgIcon{
        width: 170px;
        margin-left: 55px;
    }
    .rolo{
        position: relative;
        top: 27px;
    }
}
@media only screen and (max-width:600px){
    .userIcon{
        margin-left: 30px;
    }
    .orgIcon{
        width: 170px;
        margin-left: 24px;
    }
}
/*dashboard*/
.dashboard{
    display: flex;
}
.bar{
    background: rgba(17, 16, 16, 0.93);
    width: 100%;
    height: 50px;
    margin-top: 50px;
}
.profil{
    margin-top: 80px;
    margin-left: -99%;
}
.imgProfil{
    width: 215px;
    height: 200px;
    border: 5px solid black;
    border-radius: 50%;
    background-size: cover;
}
.img{
    position: relative;
    left: -52px;
    top: 85px;
    outline: none;
    width: 90px;
    height: 90px;   
    cursor: pointer;
    border: none;
}
.img::-webkit-file-upload-button{
   visibility: hidden;
}
.img::before{
 content: url('./dashboard/appareil.png');
 -webkit-user-select: none;
}
.info{
    font-weight: bold;
    color: black;
    font-size: 15px;
    margin-top: 20px;
}
.valid{
    margin-left: 20px;
}
.formModif{
    margin-top: 20px;
}
/*interest*/
.interest{
        margin-top: 70px;
        margin-left: 70px;
    } 
    .interest h5{
        color: whitesmoke;
    }
    table{
        border-collapse: collapse;
        width: 190%;
        letter-spacing: 1px;
        font-size: 13px;
    }
    th{
        padding: 10px 0;
        font-weight: 400;
    }

@media only screen and (max-width:1250px){
    .interest h5{
        font-size: 15px;
    }
    table{
        width: 135%;
       
    }
}

@media only screen and (max-width:900px){
    table{
        margin-left: -40px;
    } 
}
@media only screen and (max-width:840px){
    .dashboard{
        display: block;
        margin-left: 50%;
    }
     .bar{
        display: none;
    }
    .profil{
        display: flex;
        margin-top: -20px;
    }
    .imgProfil{
        width: 200px;
        height: 200px;
        margin-top: 90px;
        margin-left: 20px;
    }
    .img{      
        margin-top: 20%; 
        margin-left: 8px;
    }
    .info{
        margin-top: 120px;
        margin-left: 50px;
    }
    .modif{
        position: absolute;
        top: 47%;
        left: 15px;
        width: 95%;
    }
    .formModif{
       margin-top: 170%;
       margin-left: -180%;
        width: 220%;
    }
    .interest {
        position: relative;
    }
    
    .interest h5{
        font-size: 18px;
        margin-left: -140%;
        color: black;
    }
    table{
        margin-left: -140%;
        width: 220%;
    }
    
}
@media only screen and (max-width:700px){
    .info{
        margin-left: -40px;
    } 
    
}

@media only screen and (max-width:735px) {
    .formModif{
        margin-top: 200%;  
    } 
    .interest h5{
        margin-left: -140% ;
    } 
    table{
        width: 240%;
        margin-left: -140%;
    }
}
@media only screen and (max-width:600px) {
    .formModif{
        margin-top: 230%;  
        margin-left: -200%;
    } 
    .interest h5{
        margin-left: -160%;
    }
    table{
        margin-left: -160%;
    }
}
@media only screen and (max-width:550px) {
    .formModif{
        margin-top: 270%;  
    } 
    .img{
        margin-top: 29%; 
     }
}
@media only screen and (max-width:520px) {
    .formModif{
        margin-top: 300%;  
    } 
    .interest h5{
        font-size: 15px;
        margin-left: -180%;
    }
    table{
        font-size: 12px;
        margin-left: -180%;
        width: 270%;
    }
   
}

/*dashboard Organisateur*/
.ListEvent{
    position: absolute;
    top: 100px; 
    left: 25%;
}
.ListEvent table{
    width: 130%;
}
.ListEvent Button{
    margin-left: 10px;
}
.buttonEvent{
    position: relative;
    top: 10.5%;
    left: 55px;
    width: 250px;
    font-size: 15px;
    margin-left: -50px; 
}
@media only screen and (max-width:1300px){
    .ListEvent table{
        width: 100%;
        margin-left: 30px;  
    }
    .ListEvent h3{
        margin-left: 30px;
    }
}

@media only screen and (max-width:1200px){
    .ListEvent table{
        width: 95%;
        margin-left: 70px;
    } 
    .ListEvent Button{
        font-size: 14px;
    }
    .ListEvent h3{
        margin-left: 70px;
    }
    
}
@media only screen and (max-width:1100px){
    .dashboard{
        display: block;
        margin-left: 50%;
    }
     .bar{
        display: none;
    }
    .profil{
        display: flex;
        margin-top: -20px;
    }
    .imgProfil{
        width: 200px;
        height: 200px;
        margin-top: 90px;
        margin-left: 20px;
    }
    .img{      
        margin-top: 15%; 
        margin-left: -5px;
    }
    .info{
        margin-top: 85px;
        margin-left: 50px;
    }
    .modifO{
        position: absolute;
        top: 50%;
        left: 15px;
        
    }
    .formModif{
       margin-top: 35%;
       margin-left: -45%;
        width: 90%;
    }
    .ListEvent {
        position: relative;
    }
    .ListEvent h3{
        margin-left: -120%;
        margin-top: -30px;
    }
    .ListEvent table{
        margin-left: -120%;
        width: 220%;
    }
    .buttonEvent{
        margin-top: -59%;
        margin-left: -70%;
    }
    
}
@media only screen and (max-width:995px){
    .info{
        margin-left: -40px;
    } 
    .ListEvent table{
        width: 200%;
    }
    .buttonEvent{
       margin-top: -60%;
    }
}

@media only screen and (max-width:800px) {
   .ListEvent table{
        font-size: 11px;  
    }
    .ListEvent Button{
        font-size: 11px;
    } .buttonEvent{
        margin-top: -60%;
     }
}
@media only screen and (max-width:750px) {
    .ListEvent table{
        width: 210%; 
    }
    .buttonEvent{
        margin-top: -60%;
     }
}
@media only screen and (max-width:550px) {
    .formModif{
        margin-top: 270%;  
    } 
    .img{
        margin-top: 29%; 
     }
}
@media only screen and (max-width:520px) {
    .formModif{
        margin-top: 300%;  
    } 
    .ListEvent table{
  width: 210%;
  font-size: 10px;
    }
   .ListEvent Button{
    margin-bottom: 10px;
   }
   .buttonEvent{
    margin-top: -194%;
    margin-left: 18px;
 }
   
}

 
/*modification evenements*/
.modifEvent{
    width: 40%;
    margin: 75px auto;
    border: 1px solid black;
    border-radius: 5px;
}
/*list participant*/
.listPart{
    margin-top: 80px;
    margin-left: 20px;
}
.listPart table{
   width: 100%;
}
@media only screen and (max-width:900px) {
    .listPart table{
        margin-left: -10%;
    }
}
/*dashboard super admin*/
.dashboardAS{
    margin-top: 80px;
}
.créerA{
    position: absolute;
   right: 20px;
   top: 70px;
}
.dashboardAS .img{
    margin-top: 60px;
}
.headAd{
    background: rgb(15, 14, 14);
    width: 100%;
    height: 50px;
    color: white;
}
.headAd h3{
    margin-top: 10px;
    margin-left: 15px;
}
.adminBloc table{
    margin-left: 20px;
    width: 103%;
}
.use{
    background: rgb(15, 14, 14);
    width: 100%;
    height: 50px;
    color: white;
}
.use .titre{
    margin-left: 15px;
    margin-top: 10px;
}
.userBloquer table{
    margin-left: 20px;
    width: 111.5%;
}
.headOrg {
    background: rgb(15, 14, 14);
    width: 100%;
    height: 50px;
    color: white;
 }
 .headOrg h3{
    margin-top: 10px;
    margin-left: 15px;
 }
.orgBloquer table{
 margin-left: 20px;
 width: 104%;
}
/*dashboard Admin*/
.dashboardAD{
    margin-top: 65px;
}
.profilAD{
    display: flex;
    margin-left: 20px;
}
.modifAD{
  height: 50px;
  margin-left: 90px;  
}
.profilAD .img{
    margin-top: 60px;
}
.eventL{
    background: rgb(15, 14, 14);
    width: 100%;
    height: 50px;
    color: white;
}
.eventL h3{
    margin-left: 15px;
    margin-top: 10px;
}
.eventBloc table{
    width: 109.5%;
    margin-left: 20px;
}